body {
    background-color: #cdc;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    animation: page_fadein 1s;
}

@keyframes page_fadein {
    from { color:gray; }
    to { color:black;}
}

#header {
      position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
    /*height: 100em;*/
    /*display: flex;*/
    /*align-items: center;
    justify-content: center;*/
    background: white;
    padding: 1em;
}

#logo {
    white-space:nowrap;
    text-shadow: 2px 2px 2px #575;
}

#tagline * {
    background: #fff;
    text-align: center;
    text-transform: uppercase;
    /*text-align: justify;*/
    /*text-align-last: justify;*/
    text-justify: inter-word;
    padding: 1em;
}

#about_short {
}

#about_long {
    display:none;
}