body {
    background-color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#header{
    /*background-color: red;*/
    overflow:hidden;
}
#header2{
    /*background-color: red;*/
    overflow:hidden;
}
div.name {
    margin-top: 1em;
    font-size: 18px;
    /*display:block;*/
    /*max-height:20px;*/
    /*overflow:hidden;*/
}
input.name {
    font-size: 18px;
    color:blue;
}
#header span.name {
    font-size: 18px;
    color:black;
}
#header2 span.name {
    font-size: 36px;
    color:blue;
}
table {
    border-spacing-left: 0px;
    border-spacing-right: 0px;
    border-spacing: 0px;
    border-collapse: separate;
}
thead td {
    font-size:18px;
    font-weight: bold;
}
td.writeable_attribute {
    height:1.5em;
    width: 3em;
    border: 1px solid black;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;
}
td.part_name {
    font-weight: bold;
    margin-right: 0;
    padding-right: 1em;
    color: #333;
}
td.part_value {
    height:1em;
    width: 1em;
    border: 2px solid black;
}
thead td.part_name {
    width: 10em;
    color: black;
}
thead td.part_value_selected {
    width: 1em;
}
thead td.part_race_attribute {
    padding-left:  0.5em;
    padding-right: 0.5em;
}
tbody td.part_value_selected {
    height:1em;
    width: 1em;
    background: greenyellow;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
}
td.part_description {
    padding-left: 0.5em;
}
td.attribute {
    text-align: center;
}
tbody td.part_race_attribute {
    text-align: center;
    height:1em;
    width: 4em;
}

table.characterpart tr.part:hover {
    background-color: orange;
}
#attributeheader {
    /*text-align: center;*/
    font-weight: bold;
    /*vertical-align: middle;*/
}

#test {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 1s;
    color: white;
}

@keyframes fadein {
    from { background-color: green; color:black; }
    to { background-color: white; color:white;}
}
form * {
    display: block;
    margin: 10px;
    float: left;
}
input {
    height: 2em;
}

.compact {
    /*animation-duration: 1s;*/
    /*animation: fade_and_hide 1s;*/
    animation-fill-mode: both;
    opacity: 0; max-height: 0px;
}

.compactable {
    /*animation-duration: 1s;*/
    /*animation: fade_and_hide 1s;*/
    animation-fill-mode: both;
}

div.characterpart {
    padding-top: 2em;
}

.hide {

}

@keyframes fadeout_and_hide {
    from { opacity: 1; max-height: 300px;}
    to {opacity: 0; max-height: 0px; }
}

@keyframes fadein_and_show {
    from { opacity: 0; max-height: 0px;}
    to { opacity: 1; max-height: 300px;}
}

#rules {
    max-width: 40em;
}

.keyword {
    font-weight: bold;
}

.keyword_cs {
    color: mediumblue;
    font-weight: bold;
}

.keyword_cf {
    font-weight: bold;
    color: red;
}