body {
    background-color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    animation: page_fadein 3s;
}
@keyframes page_fadein {
    from { color:gray; }
    to { color:black;}
}

#header{
    /*background-color: red;*/
    overflow:hidden;
}
#header2{
    /*background-color: red;*/
    overflow:hidden;
}
div.name {
    margin-top: 1em;
    font-size: 18px;
    /*display:block;*/
    /*max-height:20px;*/
    /*overflow:hidden;*/
}
span.name {
    background-color: yellow;
    padding: 0.5em;
    margin-left: 1em;
    font-weight: bold;
    /*border-width: 1px;*/
    /*border-color: silver;*/
    /*border-style: solid;*/
}
input.name {
    font-size: 18px;
    font-weight: bold;
    background-color: #ffc;
    color:#660;
    padding-left: 1em;
}
#header span.name {
    font-size: 18px;
    color:black;
}
#header2 span.name {
    font-size: 36px;
    color:#660;
    padding: 0.1em;
}
table {
    border-spacing-left: 0px;
    border-spacing-right: 0px;
    border-spacing: 0px;
    border-collapse: separate;
}
table.characterpart {
    border-spacing: 1px;
    border-collapse: collapse;
}
thead td {
    font-size:18px;
    font-weight: bold;
}
td.writeable_attribute {
    height:1.5em;
    width: 3em;
    border: 1px solid black;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;
}
td.part_name {
    font-weight: bold;
    margin-right: 0;
    padding-right: 1em;
    color: #333;
}
td.part_value {
    height:1em;
    width: 1em;
    border: 1px solid black;
}
thead td.part_name {
    width: 10em;
    color: black;
}
thead td.part_value_selected {
    width: 1em;
}
thead td.part_race_attribute {
    padding-left:  0.5em;
    padding-right: 0.5em;
}
tbody td.part_value_selected {
    height:1em;
    width: 1em;
    background: greenyellow;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
}
td.part_description {
    padding-left: 0.5em;
}
td.attribute {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    margin-top: 1em;
}
tbody td.part_race_attribute {
    text-align: center;
    height:1em;
    width: 4em;
}

td.rightcol {
    text-align: right;
    padding-right: 1.5em;
}

table.characterpart tbody tr.part:hover {
    background-color: orange;
}
table.simplerows tbody tr:nth-child(odd) {
    background-color: #eed;
}
table.loltest tbody:nth-child(odd) {
    background-color: #eed;
}
/*table.loltest tbody tr:nth-child(even) {
    background-color: #eed;
}*/
/*
table.simplerows tbody tr:nth-child(3n+1) {
    background-color: #ccb;
}*/

td.evenrow {
    background-color: #ccb;
}

td.oddrow {
    background-color: #eed;
}

/*tbody:nth-child(odd) {
  background: white;
}*/
/*tbody:nth-child(even) {
  background: red;
}*/
tbody:hover , tr:hover td {
   background: orange !important;
}
/*td.evenactionrow {
    background-color: #ddc;
}*/
td.evenevensubrow {
    background-color: #ccb;
}

td.evenoddsubrow {
    background-color: #fff;
}

td.oddevensubrow {
    background-color: #eed;
}
td.oddoddsubrow {
    background-color: #fff;
}

#attributeheader {
    /*text-align: center;*/
    font-weight: bold;
    /*vertical-align: middle;*/
}


form * {
    display: block;
    margin: 10px;
    float: left;
}
input {
    height: 2em;
}

.compact {
    /*animation-duration: 1s;*/
    /*animation: fade_and_hide 1s;*/
    animation-fill-mode: both;
    opacity: 0; max-height: 0px;
}

.compactable {
    /*animation-duration: 1s;*/
    /*animation: fade_and_hide 1s;*/
    animation-fill-mode: both;
}

div.characterpart {
    padding-top: 2em;
}

.hide {

}

@keyframes fadeout_and_hide {
    from { opacity: 1; max-height: 300px;}
    to {opacity: 0; max-height: 0px; }
}

@keyframes fadein_and_show {
    from { opacity: 0; max-height: 0px;}
    to { opacity: 1; max-height: 300px;}
}

#rules {
    max-width: 40em;
}

@media print {
    #rules {
        max-width: none;
    }
}

.keyword {
    font-weight: bold;
}

.keyword_cs {
    color: mediumblue;
    font-weight: bold;
}

.keyword_cf {
    font-weight: bold;
    color: red;
}

.social {
    font-weight: bold;
    color: #44f;
}